.controls > * {
    height: 0.876rem;
    margin-bottom: 4rem;
    padding-bottom: 4rem !important;
    background: white !important;
}

.video-container {
    outline: none;
}

video::-webkit-media-controls-timeline-container,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-timeline-container,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-return-to-realtime-button,
video::-webkit-media-controls-toggle-closed-captions-button,
video::-webkit-media-controls-rewind-button {
    display: none;
}

video::-webkit-media-controls-mute-button {
    filter: invert(0.5) sepia(4) saturate(5) hue-rotate(685deg);
    -webkit-filter: invert(0.5) sepia(4) saturate(5) hue-rotate(685deg);
}

video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-volume-slider {
    background: none;
}
